# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/coverage

# production
/dist
/lib
/es
/release

# misc
.DS_Store

# umi
.umi
.umi-production
.umi-test
.env.local
.vscode
/src/.umi
/src/**/__snapshots__
report.html
package-lock.json
